body{
    background-color: black;
}
.container{
    margin: 0 auto;
    margin-left: 10px;
    width: 200px;
    height: 0;
    flex-direction: column;
}
.top-container{
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-right: 1px solid white;
    overflow: hidden;
    display: inline-block;
    position: fixed;
}
h1{
    padding: 8px;
    font-weight: normal;
}
h1.ins{
    padding-bottom: 20px;
}
h1.fazla{
    padding-top: 40px;
}
.yazi{
    color: white;
    display: inline-block;
    font-size: 11px;
    margin-top: 30px ;
    margin-left: 350px;
    font-weight:lighter;  
}
.stories {
  width: 600px;
  display: flex;
  overflow: hidden;
  padding: 10px;
  margin-left: 360px;
}

.story {
  margin-right: 15px;
  text-align: center;
  font-size: 15px;
  color:white;
}

.story img {
  border-radius: 50%;
  border: 2px solid #f5428d;
  width: 70px;
  height: 70px;
}

.feed {
  max-width: 500px;
  margin-left: 450px;
}

.post {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.kisi {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  display: block;
}

.post-footer {
  padding: 10px;
  color: white;
}

.post-footer i {
  margin-right: 10px;
  color: black;
}
