body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-top: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.top-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: black;
    border-right: 1px solid #ccc;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}
.main-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s;
}
.main-item:hover {
  background-color: #1a1a1a;
  border-radius: 10px;
}
.main-item i {
  font-size: 20px;
}
span{
    padding: 8px;
    font-weight: normal;
}
h1.ins{
    padding-bottom: 30px;
    padding-top: 0;
    font-size: 20px;
}
.main-item-more{
    padding-top: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background 0.2s;
}
.main-item-more:hover{
    background-color: black;
    border-radius: 10px;
}
.right-title{
    color: white;
    font-size: 11px;
    display: inline-block;
    margin-top: 30px ;
    margin-left: 350px;
    font-weight:lighter;  
}
.stories {
  width: 520px;
  display: flex;
  overflow: hidden;
  padding: 10px;
  margin-left: 360px;
}

.story {
  margin-right: 15px;
  text-align: center;
  font-size: 15px;
  color:white;
}

.story-extra {
  margin-right: 15px;
  text-align: center;
  font-size: 15px;
  color:white;
}

.story img {
  border-radius: 50%;
  border: 2px solid #f5428d;
  width: 70px;
  height: 70px;
}

.story-extra img {
  border-radius: 50%;
  border: 2px solid #f5428d;
  width: 70px;
  height: 70px;
}

.feed {
flex: 2;
min-width: 500px;
max-width: 600px;
}

.content-wrapper {
  margin-left: 330px;
  margin-right: 450px;
  display: flex;
  align-items: flex-start;
  gap: 40px; 
  max-width: 1100px;
  padding: 0 20px;
}

.post {
  flex-direction: column;
  width: 500px;
  max-width: 550px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.person {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-footer {
  padding: 10px;
  color: white;
}

.post-footer i {
  margin-right: 10px;
  color: white;
  display: inline;
  cursor: pointer;
  transition: background 0.2s;
}

.post-footer i:hover{
  background-color:black;
  color: #383839;
}

p.comment{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.sidebar {
  flex: 1;
  min-width: 250px;
  position: fixed;
  top: 100px;
  right: 100px;
  width: 280px;
  height: auto;
  padding: 15px;
  background-color: black;
  color: white;
}
.sidebar h3 {
  color: white;
  margin: 0 0 15px;
  font-size: 16px;
}
.suggestion {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.suggestion img {
  width: 40px; height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.suggestion strong { display: block; }
.suggestion button {
  margin-left: auto;
  border: none;
  background: #0095f6;
  color: white;
  border-radius: 5px;
  }
.your{
  display: flex;
  margin-bottom: 10px;
}
.your img{
  width: 40px; height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  }
.your strong { 
 display: block; 
}
.floating-message-btn {
  position: fixed;
  bottom: 40px;
  right: 70px;
  background-color: #383839;
  color: white;
  padding: 12px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
  z-index: 1000;
}

.floating-message-btn:hover {
  background-color: #8b8a8a;
}

.navbar {
  color: white;
}

@media (max-width:1320px) {
  .navbar {
    display: none;
  }

  .top-container {
    width: 60px;
    padding: 20px 10px;
  }

  .main-item span,
  .main-item-more span {
    display: none;
  }

  .main-item,
  .main-item-more {
    justify-content: center;
  }

  h1.ins {
    display: none;
  }

  .feed {
    width: 100%;
    max-width: 600px;
  }
  .content-wrapper {
    flex-direction: column;
    margin-left: 100px;
  }

  .stories {
    margin-left: 100px;
    width: 575px;
  }

  .story img {
    width: 80px;
    height: 80px;
  }

  .story-extra img {
    width: 80px;
    height: 80px;
  }

  .story {
    font-size: 17px;
  }
  
  .story-extra {
    font-size: 17px;
  }

  .right-title {
    margin-left: 100px;
  }

  .sidebar {
    margin-left: 100px;
  }

  .main-item i {
    font-size: 30px;
    padding: 10px;
  }
}
  @media (max-width:1124px) {
    .navbar {
    display: none;
  }

  .sidebar {
      display: none;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .feed {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
  }

  .post {
    width: 100%;
    max-width: 520px;
  }
  
  .right-title {
    font-size: 10px;
    width: 100%;
    text-align: left;
    margin-left: calc(50% - 300px);
  }

  .stories {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .story-extra {
    display: none;
  }

  .story img {
    width: 75px;
    height: 75px;
  }

  .story-extra img {
    width: 75px;
    height: 75px;
  }

  .story {
    font-size: 15px;
  }
  
  .story-extra {
    font-size: 15px;
  }
}
/* mobile */
@media(max-width:800px) {
  .stories {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .story-extra {
    display: none;
  }

.story img {
    width: 70px;
    height: 70px;
  }

  .story-extra img {
    width: 70px;
    height: 70px;
  }

  .story {
    font-size: 13px;
  }
  
  .story-extra {
    font-size: 13px;
  }

  .feed {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
  }

  .post {
    width: 100%;
    max-width: 530px;
  }

  .container {
    display: none;
  }

    .right-title {
    display: none;
  }

  .floating-message-btn span {
    display: none;
  }

  .floating-message-btn {
    border-radius: 50%;
  }

    .stories {
    top: 70px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: start;
    position: relative;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 80px;
  }

  .feed {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }

  .post {
    width: 100%;
    max-width: 500px;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #121212;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #333;
    z-index: 2;
    color: white;
  }

  .center input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: #2a2a2a;
    color: white;
    font-size: 14px;
  }

  .right i {
    font-size: 18px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: end;
  }

  .navbar button, .navbar select {
    margin-left: 10px;
    font-size: 18px;
    color: white;
    background: #2a2a2a;
    border: none;
    cursor: pointer;
  }

  .right {
    justify-content: end;
  }
 
  .navbar option {
  background-color: #1e1e1e;
  color: white;
  font-size: 14px;
}
}

@media(max-width:530px) {
  .post {
    width: 470px;
  }
}

@media(max-width:520px) {
  .post {
    width: 460px;
  }
}

@media(max-width:510px) {
  .post {
    width: 450px;
  }
}

@media(max-width:500px) {
  .post {
    width: 440px;
  }
}